div {
    border: 1px solid black;
    width: 40vw;
    display: inline-block;
    background-color: coral;
    padding: 1.5em;
    transition: 2s;
}



#div1 {
    font-size: 30px;
}

#div1:hover {
    font-size: 45px;
}